* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins' !important;
}

html {
    scroll-behavior: smooth;
}

/*inicio de sobre mim*/
#banner {
    background-color: rgb(169, 169, 169);
    width: 100%;
    height: auto;
}

#conteudo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}

#portrait {
    width: auto;
    object-fit: cover;
    flex-shrink: 2;
    border-radius: 20px;
}

#conteudo-banner-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    #portrait {
        width: 80%;
        object-fit: cover;
    }

    #conteudo-banner-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}